security.protocol=SSL
ssl.endpoint.identification.algorithm=
ssl.protocol=TLS
ssl.keystore.location=@@SECRETS_PATH@@/kafka.consumer.keystore.jks
ssl.keystore.password=confluent
ssl.truststore.location=@@SECRETS_PATH@@/kafka.consumer.truststore.jks
ssl.truststore.password=confluent
ssl.key.password=confluent
